@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "react-day-picker/dist/style.css"; */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  min-height: calc(100vh - 380px);
}
body {
  overflow-x: hidden;
  border: hsl(212, 25%, 90%);
}

.main {
  h1,
  .h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-[3rem];
  }
  .h1-5 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-[1.5];
  }
  h2,
  .h2 {
    @apply text-2xl font-semibold md:text-3xl lg:text-4xl;
  }
  .h2-5 {
    @apply text-xl font-semibold md:text-2xl lg:text-3xl;
  }
  h3,
  .h3 {
    @apply text-lg font-semibold md:text-xl lg:text-2xl;
  }
  h4,
  .h4 {
    @apply text-base font-semibold md:text-lg lg:text-xl;
  }
  h5,
  .h5 {
    @apply text-sm font-semibold md:text-base lg:text-lg;
  }
  .secPadding {
    @apply py-16 max-md:py-10 max-sm:py-8;
  }
  p,
  a,
  li {
    @apply leading-7 sm:text-sm md:text-base;
  }
}
.dashboard {
  h1,
  .h1 {
    @apply text-2xl sm:text-3xl;
  }
  .h1-5 {
    @apply text-xl sm:text-2xl;
  }
  h2,
  .h2 {
    @apply text-lg sm:text-xl;
  }

  .h2s {
    @apply text-sm sm:text-lg md:text-xl;
  }
  h3,
  .h3 {
    @apply sm:text-lg;
  }
}

@layer base {
  :root {
    --background: 0 0% 99%;
    --background-2: 210 40% 98%;

    --dash-ground: 213 40% 97%;
    --clear-ground: 0 0% 100%;
    --foreground: 210 22% 7%;
    --text-1: 212 21% 16%;
    --text-2: 210 21% 22%;
    --text-3: 208 22% 37%;
    --gold: 55 100% 44%;
    --green: 144 81% 25%;
    --fadedGreen: 145 71% 87%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 213 92% 54%;
    --primary-main: 218 78% 40%;
    --primary-faded: 205 100% 97%;
    --primary-foreground: 205 100% 97%;
    --secondary: 266 100% 64%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 205 12% 95%;
    --muted-foreground: 208 21% 34%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: #cbd5e1;
    --input: #cbd5e1;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
    --success: 144 81% 25%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    color: hsl(266, 100%, 69%);
    --background: 0 0% 5%; /* Dark background */
    --background-2: 0 0% 7%;
    --dash-ground: 210 22% 7%;
    --clear-ground: 210 15% 10%; /* Even darker for contrast */
    --foreground: 0 0% 90%; /* Light text color */
    --text-1: 0 0% 90%; /* Primary text */
    --text-2: 0 0% 80%; /* Secondary text */
    --text-3: 0 0% 70%; /* Tertiary text */
    --gold: 55 100% 65%; /* Brightened gold for visibility */
    --card: 210 15% 10%; /* Slightly lighter than background */
    --card-foreground: 0 0% 90%; /* Light text on cards */
    --popover: 210 15% 10%; /* Matches card background */
    --popover-foreground: 0 0% 90%; /* Light text on popovers */
    --primary: 213 92% 58%; /* Brighter primary color */
    --primary-main: 218 78% 75%; /* Adjusted for contrast */
    --primary-faded: 213 100% 6%; /* Darker faded primary */
    --primary-foreground: 0 0% 90%; /* Light text on primary elements */
    --secondary: 266 100% 69%; /* Darker secondary color */
    --secondary-foreground: 0 0% 90%; /* Light text on secondary elements */
    --muted: 205 12% 25%; /* Muted background elements */
    --muted-foreground: 210 40% 96%; /* Muted text */
    --accent: 210 40% 30%; /* Accent color adjusted */
    --accent-foreground: 0 0% 90%; /* Light text on accents */
    --destructive: 0 84.2% 60.2%; /* Destructive action color */
    --destructive-foreground: 0 0% 90%; /* Light text on destructive elements */
    --border: #ced6df; /* Border color for dark mode */
    --input: #ced6df; /* Input backgrounds */
    --ring: 221.2 83.2% 70%; /* Focus ring color */
    --radius: 1rem; /* Border radius remains the same */
    --success: 144 81% 25%;
    --chart-1: 12 76% 70%; /* Chart colors adjusted for visibility */
    --chart-2: 173 58% 60%;
    --chart-3: 197 37% 65%;
    --chart-4: 43 74% 70%;
    --chart-5: 27 87% 75%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.cardShadow {
  box-shadow: 2px 0px 32px 0px #1b7df51f;
}
.cardShadowSm {
  box-shadow: 2px 0px 16px 0px #1b7df51f;
}
.courseImage {
  aspect-ratio: 381/295;
}
.prose {
  @apply prose-headings:text-text-1 prose-p:text-text-2 prose-li:text-text-2 prose-a:text-primary;
}
.prose strong {
  @apply text-text-1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: hsl(var(--muted));
}

::-webkit-scrollbar-thumb {
  background: #244b7f;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.selectMenu span {
  @apply flex items-center gap-4 !important;
}
.Toastify__progress-bar--success {
  @apply bg-primary !important;
}
.Toastify__toast--success svg {
  @apply fill-primary !important;
}
.Toastify__progress-bar--error {
  @apply bg-destructive !important;
}
.Toastify__toast--error svg {
  @apply fill-destructive !important;
}
.Toastify__toast-theme--light {
  @apply bg-clear-ground text-text-2 !important;
}
.dashboardMain {
  width: 100%;
}
@media (min-width: 1024px) {
  .dashboardMain {
    width: calc(100vw - 320px);
  }
}
main {
  background-color: hsl(var(--background));
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html[lang="ar"] .rotateInRTL {
  transform: rotate(180deg);
}
